/* debut : multi pages */
html {
    background-color: #2D2D2D;
    color: #FFF;
}

.topic { 
    height: 150px;
    width: 850px;
}

footer {
    height: 10%; 
    text-align: center;
    margin-top: 20px;
  }
/*end all pages*/


/*début nav bar pour index + topic ofd*/
header {
    display: flex;
    align-items: center;
    width: 100%;
}


.navbar {
    background-color: #333;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 125px;
    width: 65%;
    overflow: hidden;
}

.logocase {
    padding: 10px;
    width: 20%; 
}

.logo {
    width: 50%;
    border-radius: 50%;
}

.navbar-center {
    text-align: center;
    flex-grow: 1;
}

.site-title {
    color: rgb(249, 247, 247);
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 4px ;
}

.navbar-links a:hover {
    background-color: #278d9d;
    color: black;
}

.navbar-right {
    margin-left: auto;
}

.signup-btn, .signin-btn {
    background-color: #278d9d;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.signup-btn:hover, .signin-btn:hover {
    background-color: #63bae3;
}

/* fin navabar index + topic ofd */


/* debut index.html page */
.landing {
    display: flex; /*flexbox arrives*/
    flex-direction: row; /*permet de mettre les div côte à côte*/
    text-align: center;
    min-height: 85vh;
    margin-top: 10px;
}

.top10users {
    background-color: #237E8C;
    border-radius: 15px 0px 0px 15px;
    width: 20%;
}

.top10top {
    background-color: #237E8C;
    border-radius: 0px 15px 15px 0px;
    width: 20%;
}

.maincontent_landing {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 100%;
    border-radius: 15px;
}

.linktopoft {
    height: 60%;
    background-color: rgb(112, 154, 190);
}

.linkoldtopics {
    height: 100%;
    background-color: rgb(62, 91, 117);
}

.suggest {
    background-color: #2D2D2D;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px;
    cursor: pointer;
    border-radius: 5px;
}

.suggest:hover{
    background-color: #2D2D2D;
}

/* end index.html page */


/*debut topic_du_jour.html page*/

.maincontent_topic {
    display: flex;
    text-align: center;
    height: 85vh; /*toute la plage en hauteur*/
    margin-top: 10px;
    width: 100%;
    color: #FFF;
    
}

.topiccontent {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    flex-direction: column; 

}

.topictext {
    background-color: rgb(112, 154, 190);
    width: 80%; 
    height: 40%;
}

.ratingtopic {
    background-color: rgb(62, 91, 117);
    width: 80%;
    height: 5%;
}


.commentspace {
    background-color: aquamarine;
    height: 250px;
    width: 80%;
}

textarea {
    width: 50%;
    height: 40%;
}

.commentspace {
    background-color: rgb(31, 82, 65);
    height: 250px;
    width: 80
}

.comday {
    background-color: rgb(46, 124, 127);
    height: 100%;
    width: 80%;
}
/*end topic_du_jour.html page*/

/* topic archivé */
.oldcommentspace{
    background-color: rgb(46, 124, 127);
    height: 100%;
    width: 80%;
}