.haut
{
    display: flex;
    text-align: center;
}

.haut1, .haut3
{
    width: 10%;
}

.haut1
{
    background-color: red;
}

.haut2
{
    background-color: green;
    width:80%;
}

.haut3
{
    background-color: blue;
}

.milieu
{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.milieu1
{
    background-color: beige;
    min-height: 75px;
}

.milieu2
{
    background-color: aqua;
    height: 200px;
}

.milieu21
{
    height: 90%;
}

.milieu22
{
    height: 10%;
}

.milieu3
{
    background-color: aquamarine;
    height: 200px;
}